/* General */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /* Убирает все отступы */
}

p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 156px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #4694dc;
  min-height: 500px;
  padding-top: 82px;
  padding-bottom: 82px;

  color: #fff;
}

.header_title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 38px;
}
.header_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 45px;
  max-width: 437px;
}
.header_button {
  width: 194px;
  height: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
/* Block */
.block {
  text-align: center;
  margin-bottom: 121px;
}

.block_title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
  letter-spacing: 3.3px;
}

.block_text {
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-weight: 400;
  color: #9ca3af;
  max-width: 465px;
  margin: 0 auto;
}

/*Services */

.services {
  padding: 100px 0 156px;
}

.services_item {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 888px;
  margin: 0 auto;
  align-items: center;
}

.item {
  max-width: 280px;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services_item_img {
  align-self: center;
}
.services_item_title {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

/* Team */
.block {
  margin-bottom: 80px;
}
.team {
  padding-bottom: 142px;
}

.team_items {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  gap: 50px;
}
.team_item {
  display: flex;
  padding: 20px;
  background-color: #fff;
  width: 260px;
  height: 76px;
  border-radius: 11px;
  align-items: center;
  box-shadow: 0px 4px 4px rgb(91, 93, 99, 0.66);
}
.team_img {
  align-self: center;
  margin-right: 8px;
}

.team_titele {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 5px;
}
.team_text {
  margin-top: 0;
  font-size: 11px;
  font-style: italic;
  color: #9ca3af;
}

/* Media */

@media screen and (max-width: 1366px) {
  .team.container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1024px) {
  .team_items {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .services_item {
    flex-direction: column;
    align-items: center;
  }
  .services_item_title {
    font-size: 14px;
  }
  .header_button {
    width: 160px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .header_title {
    font-size: 36px;
  }
}
